<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.mapper.TablesMapper">
<resultMap id="tableEntity" type="com.xzx.entity.TableEntity">
        <id column="table_name" jdbcType="VARCHAR" property="tableName" />
        <result column="table_schema" jdbcType="VARCHAR" property="tableSchema" />
        <result column="table_comment" jdbcType="VARCHAR" property="tableComment" />
        <collection  property="columns" ofType="com.xzx.entity.ColumnEntity">
            <id column="column_name" jdbcType="VARCHAR" property="columnName" />
            <result column="data_type" jdbcType="VARCHAR" property="dataType" />
            <result column="column_type" jdbcType="VARCHAR" property="columnType" />
            <result column="column_key" jdbcType="VARCHAR" property="columnKey" />
            <result column="column_comment" jdbcType="VARCHAR" property="columnComment" />
        </collection>
    </resultMap>
    <select id="selectColumnsByTableName" parameterType="Map" resultMap="tableEntity">
        select t.*,c.column_name,c.data_type,c.column_type,c.column_key,c.column_comment from (select TABLE_SCHEMA,TABLE_NAME,table_comment from information_schema.tables) t
		join (select TABLE_SCHEMA,TABLE_NAME,column_name,data_type,column_type,column_key,column_comment from information_schema.columns) c on c.TABLE_SCHEMA=t.TABLE_SCHEMA and c.TABLE_NAME=t.TABLE_NAME
		WHERE
			t.TABLE_SCHEMA = #{tableSchema}
			<foreach collection="tableNames" item="tableName" open="and t.TABLE_NAME in(" separator="," close=")">
            	#{tableName}
        	</foreach>
    </select>
</mapper>